* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    color: #515151;
    background-image: radial-gradient(73% 147%, rgb(255, 255, 255) 59%, rgba(121, 246, 255, 0.712) 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

a {
    font-style: none;
    text-decoration: none;
    padding: 3px;
}

li a:hover {
    background-color: #4DB7AB;
    color: white;
}

li a:focus {
    background-color: #4DB7AB;
    color: white;
}

.piece-info a:hover {
    color: #4DB7AB;
}

.piece-info a:focus {
    color: #4DB7AB;
}

.description, h1, ul, .piece-title, .piece-links, .portfolio-description {
    font-family: 'Staatliches', cursive;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

.divider {
    color: #4DB7AB;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.hero {
    margin-top: 60px;
}

.description {
    margin-top: -10px;
    font-size: 20px;
    font-weight: normal;
}

.intro {
    font-weight: normal;
    color: #4DB7AB;
}

.bio {
    margin-top: 30px;
}

.menu {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: -40px;
}

.intro, p, .piece-description, .my-work {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 24px;
}

.scroll-arrow {
    display: none;
}

.scroll-text {
    display: none;
}

hr {
    margin: 80px;
}

.portfolio-header {
    margin-top: -35px;
}

.my-work {
    font-weight: normal;
    color: #4DB7AB;
}

.portfolio-description {
    font-weight: normal;
    margin-top: -10px;
    font-size: 20px;
}

.featured-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
}

.piece-info {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: -15px;
    font-weight: normal;
}

.piece-description {
    margin-top: -8px;
}

a {
    color: #515151;
}

.language-logos {
    height: 30px;
    margin-top: -10px;
}

.portfolio {
    margin-top: 70px;
}

.pieces {
    margin-bottom: 80px;
}

footer {
    text-align: center;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #515151;
}

/* Sizing for ipads and tablets--------------------------------- */
@media only screen and (min-width: 700px) {

    h1 {
        font-size: 25px;
        text-align: center;
        font-weight: normal;
        margin-bottom: 50px;
    }

    .menu {
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    

    .hero {
        margin-top: 5px;
        font-size: 30px;
    }

    .description {
        font-size: 30px;
    }

    .bio {
        margin-top: 0px;
        font-size: 20px;
    }


    .hero, .bio {
        margin-left: 90px;
        width: 500px;
    }

    hr {
        margin-top: 80px;
        text-align: center;
    }

    .scroll-text {
        display: none;
    }

    .portfolio-header {
        margin-top: -50px;
    }

    .my-work {
        margin-left: 90px;
        font-weight: normal;
    }

    .portfolio-description {
        font-weight: normal;
        margin-left: 90px;
        margin-top: -10px;
        margin-bottom: 80px;
        font-size: 20px;
    }

    .portfolio {
        margin-top: 10px;
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pieces {
        width: 400px;
    }

    .portfolio > img:nth-child(0) {
        margin-top: 50px;
    }

    

}

/* Sizing for larger ipads and tablets--------------------------------- */
@media only screen and (min-width: 916px) {

    h1 {
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        margin-bottom: 50px;
    }


    body {
        margin-left: 100px;
        margin-right: 200px;
        color: #515151;
    }

    #column-1 {
        float: left;
    }
    
    .menu {
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: -40px;
        position: fixed;
    }

    .hero {
        margin-top: 5px;
        font-size: 30px;
    }

    .description {
        font-size: 30px;
    }

    .bio {
        margin-top: 0px;
        font-size: 20px;
    }


    .hero, .bio {
        margin-left: 90px;
        width: 600px;
    }

    hr {
        margin-top: 100px;
        text-align: center;
    }

    #column-2 {
        margin-left: 80px;
        display: flex;
        flex-direction: column;
    }

    .portfolio-header {
        margin-top: -50px;
    }

    .my-work {
        margin-left: 90px;
        font-weight: normal;
    }

    .portfolio-description {
        font-weight: normal;
        margin-left: 90px;
        margin-top: -10px;
        font-size: 20px;
    }

    .portfolio {
        margin-top: 10px;
        margin-left: 90px;
        
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        
        align-items: flex-start;
    }

    .pieces {
        width: 400px;
    }

    .portfolio > img:nth-child(0) {
        margin-top: 50px;
    }

    

}
/* Sizing for computer screens--------------------------------- */
@media only screen and (min-width: 1400px) {

    h1 {
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        margin-bottom: 50px;
    }

    body {
        margin-left: 200px;
        margin-right: 200px;
        color: #515151;
    }

    #column-1 {
        float: left;
    }
    
    .menu {
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: -40px;
        position: fixed;
    }

    .hero {
        margin-top: 5px;
        font-size: 30px;
    }

    .description {
        font-size: 30px;
    }

    .bio {
        margin-top: 0px;
        font-size: 20px;
    }

    .hero, .bio {
        margin-left: 90px;
        width: 800px;
    }

    hr {
        display: none;
    }

    .scroll-text {
        display: block;
    }

    .scroll-arrow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        width: 10%;
        height: auto;
        background-color: transparent;
    }

    .scroll-text {
        text-align: center;
        margin-right: 40px;
        font-size: 14px;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .arrow {
        width: 50%;
        height: auto;
        background-color: transparent;
    }

    #column-2 {
        margin-left: 110px;
        display: flex;
        flex-direction: column;
    }

    .portfolio-header, .portfolio {
        margin-top: 200px;
    }

    .my-work {
        margin-left: 90px;
        font-weight: normal;
        font-size: 35px;
    }

    .portfolio-description {
        font-weight: normal;
        margin-left: 90px;
        margin-top: -10px;
        font-size: 30px;
        margin-bottom: 100px;
    }

    .portfolio {
        margin-top: 10px;
        margin-left: 90px;
        
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        
        align-items: flex-start;
    }

    .pieces {
        width: 400px;
        margin-right: 40px;
    }

    footer {
        text-align: center;
        font-size: 14px;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        color: #515151;
    }

    
    

}



